{% extends 'base.html' %}
{% load static %}
{% block body %}
{% include "header.html" %}

<div class="columns">
    <!-- Cliënt Contact Info -->
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="column is-one-third">
        <div class="card">
            <header class="card-header">
                <div class="card-header-title-container">
                    <span class="icon user-icon"><i class="fas fa-user"></i></span>
                    <p class="card-header-title">
                       Deelnemer: {{ participant.full_name }}
                    </p>
                    </div>
                    
                
            </header>
            <div class="card-content">
                <div class="content">
                    <strong>Locatie::</strong> {{ participant.registered_location.name }}<br>
                    <strong>Geboortedatum:</strong> {{ participant.date_of_birth|date:"Y-m-d" }}
                </div>
                {% if employee.can_manage_participants %}
                <button class="button btn-warning"
                    onclick="deleteParticipant('{{ participant.id }}')"
                    style="padding:0.5rem 1rem;">          
                    
                <span class="icon is-small">
                    <i class="fas fa-trash"></i>
                </span>
                &nbsp; Verwijder Deelnemer
                </button>
                {% endif %}
            </div>
            </div>
    </div>

    <!-- Status vd Slaapzakken -->
    <div class="column">
        <div class="card">
            <header class="card-header" style="background-color: #f3f7fa;">
                <p class="card-header-title" style="color:#082d3d;" >
                    Slaapzakken
                </p>
            </header>
            <div class="card-content" style="background-color:#f1f3ff;">
                <ul>
                    <h2 class="subtitle">Beschikbare Slaapzakken:</h2>
                    {% for bag, form in bags_forms_ext %}
                    <li class="bag-card {% if not bag.status == 'Good' %}bg-yellow {%endif%}">
                        <form method="POST" action="{% url 'bags:update' bag.pk %}">
                            {% csrf_token %}
                            <p>Slaapzak nummer:</p><span class="bag-id">{{ bag.pk }}</span>
                            <p>Laatst Gewassen: {{ bag.last_washing_cycle }}</p>
                            {{ form }}
                            <button class="button update" type="submit">Update</button>
                        </form>
                        {% if bag.status == "Good" %}
                        <div class="button-wrapper" data-name="is_washed" role='button'>
                            <input type="checkbox"  style="display: none;" {% if bag.is_washed %}checked{% endif %}>
                            {% if bag.is_washed %}
                            <i class="fas fa-hand-sparkles" style="margin-right: 5px;"></i> <p style="margin: 0;">Slaapzak is gewassen</p>
                            {%else %}
                            <i class="fas fa-broom" style="margin-right: 5px;"></i> <p style="margin: 0;">Wasbeurt nodig</p> 
                            {%endif%}
                        </div>
                        <div class="button-wrapper left-margin" data-name="is_in_facility" role='button' >
                            <input type="checkbox"  style="display: none;" {% if bag.is_in_facility %}checked{% endif %}>
                            {% if bag.is_in_facility %}
                            <i class="fas fa-home" style="margin-right: 5px;"></i> <p style="margin: 0;">Is op locatie</p>
                            {%else %}
                            <i class="fas fa-walking" style="margin-right: 5px;"></i> <p style="margin: 0;">Met de gebruiker</p> 
                            {%endif%}
                        </div>
                        {%else%}
                        {%endif%}
                    </li>
                        {% empty %}
                        <li>Geen slaapzakken gevonden.</li>
                        {% endfor %}
                        
                    </ul>
                    <a href="javascript:void(0);" class="btn btn-primary swap-button" data-participant-id="{{ participant.id }}">
                        <button class="button is-link">Slaapzakken omruilen</button></a>
                </div>
            </div>
        </div>
    </div>
<!-- Notities -->
<div class="column is-full">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Notities
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <form method="post" action="{% url 'notes:add' %}">
                    {% csrf_token %}
                    {{note_form.as_p}}
                    <div class="control">
                        <button class="button is-link" type="submit">Submit</button>
                    </div>
                </form>

                {% load tz %}
            {% get_current_timezone as TIME_ZONE %}
            {% now "Y-m-d" as today_date %}
            
            <h2 class="subtitle">Notities vandaag gemaakt:</h2>
            
            <div class="content notes">
                <ul>
                    {% for note in new_notes %}
                        {% if note.date|date:"Y-m-d" == today_date %}
                            <li class="note-item">
                                <div class="note-content">{{ note.note }}</div>
                                <div class="note-meta">
                                    <span>Betreft: <strong>{{ note.participant.first_name }}</strong></span>
                                    <span>Geschreven door: <strong>{{ note.employee }}</strong></span>
                                    <span>Gemaakt op: <strong>{{ note.date|date:"F d, Y" }}</strong></span>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            
            <h2 class="subtitle">Eerder gemaakte notities:</h2>
            <div class="content notes">
                <ul>
                    {% for note in new_notes %}
                        {% if note.date|date:"Y-m-d" != today_date %}
                            <li class="note-item">
                                <div class="note-content">{{ note.note }}</div>
                                <div class="note-meta">
                                    <span>Betreft: <strong>{{ note.participant.first_name }}</strong></span>
                                    <span>Geschreven door: <strong>{{ note.employee }}</strong></span>
                                    <span>Gemaakt op: <strong>{{ note.date|date:"F d, Y" }}</strong></span>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>


<!-- de terug naar deelnemers knop -->
<div class="section">
    <div class="container">
        <a href="{% url 'landing_page' %}" class="return-button">Terug naar alle deelnemers</a>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    function deleteParticipant(participantId){
        console.log("clicked")
        if (confirm('Weet u zeker dat u deze deelnemer wilt verwijderen?') && confirm('Deze actie zorgt ervoor dat deze deelnemer als Inactief word gemarkeert.  Wilt u doorgaan?')){
            const url = `{% url 'participants:remove_participant' 0 %}`.replace('0', participantId);
            window.location.href= url;
        } else {
            alert("Verwijderen mislukt:" + response.message);
        }
    }
    $(document).ready(function() {
    $('.button-wrapper').click(function(){
        // change the checked status of the current checkbox
        const form = $(this).siblings().first().get(0)
        // var checkbox = form.find('.is-in-facility'); 
        // # var checkbox = $(this).siblings('input.is-in-facility');

        const fieldToChange = $(this).data('name')
        // console.log('here')
        const inputToChange = form.querySelector(`input[type="checkbox"][name="${fieldToChange}"]`)
        // console.log("input", inputToChange)
        inputToChange.checked = !inputToChange.checked


        // press the update button
        const updateButton = form.querySelector('.update')
        updateButton.click()
        updateButton.disabled = true
    })
    
    $('.swap-button').click(function() {
        var participantId = $(this).data('participant-id');
        var ajaxUrl = `{% url 'bags:swap_bag' 0 %}`.replace('0', participantId);

        $.ajax({
            url: ajaxUrl,
            type: 'GET',
            dataType: 'json',
            success: function(response) {
                if (response.success) {
                    window.location.reload()
                } else {
                    alert('Ruilen mislukt: ' + response.message);
                }
            },
            error: function(xhr, status, error) {
                alert('Technical error: ' + error);
            }
        });
    });

    $('.report-lost-button').click(function() {
        var bagId = $(this).data('bag-id');
        var ajaxUrl = `{% url 'bags:report_lost_bag' 0 %}`.replace('0', bagId);

        $.ajax({
            url: ajaxUrl,
            type: 'GET',
            dataType: 'json',
            success: function(response) {
                if (response.success) {
                    alert('Melding Succesvol!: ' + response.message);
                    window.location.reload(); // Refresh the page to reflect changes
                } else {
                    alert('Melding mislukt: ' + response.message);
                }
            },
            error: function(xhr, status, error) {
                alert('Technical error: ' + error);
            }
        });
    });

    //wash now knop
    $('.wash-now-button').click(function() {
        var bagId = $(this).data('bag-id');
        var ajaxUrl = `{% url 'bags:wash_now' 0 %}`.replace('0', bagId);

        $.ajax({
            url: ajaxUrl,
            type: 'POST',
            dataType: 'json',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.success) {
                    alert('Wassen Succesvol!: ' + response.message);
                    location.reload(); //r efresh the page to reflect changes
                } else {
                    alert('Wassen mislukt: ' + response.message);
                }
            },
            error: function(xhr, status, error) {
                alert('Technical error: ' + error);
            }
        });
    });
});
console.log(document.querySelectorAll('.is-in-facility, .is-clean'))

document.querySelectorAll('.is-in-facility, .is-clean').forEach(checkbox => {
    checkbox.addEventListener('change', function() {
        const cardFlip = this.nextElementSibling;
        console.log('cardFlip', cardFlip)
        cardFlip.style.transition = 'transform 0.6s';
        if (this.checked) {
            cardFlip.style.transform = 'rotateY(180deg)';
        } else {
            cardFlip.style.transform = 'rotateY(0deg)';
        }
    });
});

</script>
{% endblock %}

