{% extends 'Notes/base.html' %}

{% block head %}
<title>Voeg Deelnemer Toe aan {{ employee_location_name }}</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block body %}
{% include "Notes/header.html" %}
<section class="section">
    <div class="container">
        <h3 class="title is-4">Deelnemer Toevoegen aan {{ employee_location_name }}</h3>
        {% if errors %}
        <div class="errorlist">
            {{ errors }}
        </div>
    {% endif %}
        <form method="post" class="box">
            {% csrf_token %}
            {{ form.as_p }}
            <!-- <div class="field" id="other_document_type_field" style="display: none;">
                <label class="label">Ander Document Type:</label>
                <div class="control">
                    <input class="input" type="text" name="custom_document_type" placeholder="Ander Document Type">
                </div>
            </div> -->
            <button type="submit" class="button is-primary">Voeg Deelnemer Toe</button>
        </form>
        <!-- Display available sleeping bags -->
        <h3 class="title is-4">Beschikbare Slaapzakken</h3>
        <div class="box">
        <ul>
            {% for bag in available_sleeping_bags %}
                <li>
                    Status: {{ bag.status }}, 
                    Laatste wasbeurt: {{ bag.last_washing_cycle|date:"Y-m-d" }},
                    In faciliteit: {{ bag.is_in_facility }},
                    Locatie: {{ bag.location.name }}
                </li>
            {% empty %}
                <li>Geen beschikbare slaapzakken.</li>
            {% endfor %}
        </ul>
    </div>
</section>

<!-- Include Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        flatpickr(".datepicker", {
            dateFormat: "Y-m-d",
        });
        const documentTypeSelect = document.getElementById('id_document_type');
        const otherDocumentTypeField = document.getElementById('other_document_type_field');
        
        documentTypeSelect.addEventListener('change', function() {
            if (documentTypeSelect.value === 'Other') {
                otherDocumentTypeField.style.display = 'block';
            } else {
                otherDocumentTypeField.style.display = 'none';
            }
        });

        documentTypeSelect.dispatchEvent(new Event('change'));
    });
</script>
{% endblock %}