{% extends 'Notes/base.html' %}
{% load static %}
{% block body %}
{% include "Notes/header.html" %}

<div class="columns">
    <!-- Cliënt Contact Info -->
    <div class="column is-one-third">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Cliënt: {{ participant.full_name }}
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <strong>Locatie::</strong> {{ participant.registered_location.name }}<br>
                    <strong>Geboortedatum:</strong> {{ participant.date_of_birth|date:"Y-m-d" }}
                </div>
            </div>
        </div>
    </div>

    <!-- Status vd Slaapzakken -->
    <div class="column">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Slaapzakken
                </p>
            </header>
            <div class="card-content">
                <ul>
                    {% for bag, form in bags_forms_ext %}
                    
                    <form method="POST" action="{% url 'bags:update' bag.pk %}">
                        {% csrf_token %}
                        <p>Slaapzak nummer: : {{ bag.pk}}</p>
                        <p>Laatst Gewassen: : {{ bag.last_washing_cycle }}</p>
                        {{ form }}
                        <button class="button" type="submit">Update</button>
                    </form>
                    {% empty %}
                    <li>Geen slaapzakken gevonden.</li>
                    {% endfor %}
                </ul>
                
                <!-- <a href="{% url 'bags:swap_bag' participant.id %}"
                 class="btn btn-primary" >
                    <button class="button is-link">Slaapzakken omruilen</button></a> -->
                
                <a href="javascript:void(0);" class="btn btn-primary swap-button" data-participant-id="{{ participant.id }}">
                    <button class="button is-link">Slaapzakken omruilen</button></a>
                <!-- Swap Button, rendered conditionnaly if we have two sleeping bags, one sleeping is dirty and the other one is clean and in the facility -->
                <!-- {% with bag_1=bags_forms_ext.0%}
                 <p>{{bags_forms_ext.0.0.is_washed}}</p> -->
                <!-- <h1>Hello world {{bag_1.last_washing_cycle}}</h1>
                {%endwith%}
                {% if bags_forms_ext.0.0.is_washed and bags_forms_ext.0.0.is_in_facility and not bags_forms_ext.1.0.is_washed %}  -->
                <!-- {%endif%} -->
            </div>
        </div>
    </div>
 
                            <!-- Report Lost Button
                            <a href="javascript:void(0);" class="btn btn-danger report-lost-button" data-bag-id="{{ bag.id }}">Verloren melden</a> -->

<!-- Notities -->
<div class="column is-full">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Notities
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <form method="post" action="{% url 'notes:add' %}">
                    <!-- <input type="hidden" name="next" value="{{ request.path }}"> -->
                    {% csrf_token %}
                    {{note_form.as_p}}
                    <!-- <div class="field">
                        <label class="label">Note</label>
                        <div class="control">
                            <textarea name="note" rows="4" class="textarea">{{ form.note.value }}</textarea>
                        </div>
                    </div>
                    <div class="field">
                        {{ form.participant.as_hidden }}
                    </div> -->
                    <div class="control">
                        <button class="button is-link" type="submit">Submit</button>
                    </div>
                </form>

                <h2 class="subtitle">Recente Notities:</h2>
                <div class="content">
                    <ul>
                        {% for note in new_notes %}
                            <li>{{ note.note }} by: {{ note.employee }} - gemaakt op {{ note.date|date:"F d, Y" }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- terug naar deelnemers knop -->
<div class="section">
    <div class="container">
        <a href="{% url 'landing_page' %}" class="return-button">Terug naar alle deelnemers</a>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function() {
    $('.swap-button').click(function() {
        var participantId = $(this).data('participant-id');
        var ajaxUrl = `{% url 'bags:swap_bag' 0 %}`.replace('0', participantId);

        $.ajax({
            url: ajaxUrl,
            type: 'GET',
            dataType: 'json',
            success: function(response) {
                if (response.success) {
                    // alert('Ruilen Succesvol!: ' + response.message);
                    window.location.reload()
                } else {
                    alert('Ruilen mislukt: ' + response.message);
                }
            },
            error: function(xhr, status, error) {
                alert('Technical error: ' + error);
            }
        });
    });

    $('.report-lost-button').click(function() {
        var bagId = $(this).data('bag-id');
        var ajaxUrl = `{% url 'bags:report_lost_bag' 0 %}`.replace('0', bagId);

        $.ajax({
            url: ajaxUrl,
            type: 'GET',
            dataType: 'json',
            success: function(response) {
                if (response.success) {
                    alert('Melding Succesvol!: ' + response.message);
                    window.location.reload(); // Refresh the page to reflect changes
                } else {
                    alert('Melding mislukt: ' + response.message);
                }
            },
            error: function(xhr, status, error) {
                alert('Technical error: ' + error);
            }
        });
    });

    // Wash now button
    $('.wash-now-button').click(function() {
        var bagId = $(this).data('bag-id');
        var ajaxUrl = `{% url 'bags:wash_now' 0 %}`.replace('0', bagId);

        $.ajax({
            url: ajaxUrl,
            type: 'POST',
            dataType: 'json',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.success) {
                    alert('Wassen Succesvol!: ' + response.message);
                    location.reload(); // Refresh the page to reflect changes
                } else {
                    alert('Wassen mislukt: ' + response.message);
                }
            },
            error: function(xhr, status, error) {
                alert('Technical error: ' + error);
            }
        });
    });
});
</script>
{% endblock %}

<!-- 
$('.return-dirty-button').click(function() {
    var participantId = $(this).data('participant-id');
    var ajaxUrl = `{% url 'return_dirty_bag' 0 %}`.replace('0', participantId);

    $.ajax({
        url: ajaxUrl,
        type: 'GET',
        dataType: 'json',
        success: function(response) {
            if (response.success) {
                alert('Terugbrengen Succesvol!: ' + response.message);
            } else {
                alert('Terugbrengen mislukt: ' + response.message);
            }
        },
        error: function(xhr, status, error) {
            alert('Technical error: ' + error);
        }
    });
}); -->
