{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Beschikbare Slaapzakken</title>
{% endblock %}

{% block body %}
{% include "header.html" %}

<section class="section">
    <div class="container">
        <h1 class="title">Beschikbare Slaapzakken bij {{ location.name }}</h1>
        <p class="subtitle">Deze slaapzakken zijn niet gekoppeld aan een deelnemer.</p>
        <a class="return-button" href="{% url 'landing_page' %}">Terug naar alle deelnemers</a>
        <div class="columns is-multiline">
            {% for bag in available_bags %}
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-header-title">Slaapzak ID: {{ bag.id }}</h3>
                        </div>
                        <div class="card-content">
                            <p class="status-unassigned">Status: Niet gekoppeld aan een deelnemer</p>
                            <ul>
                                <li>Status: <span class="tag is-info">{{ bag.status }}</span></li>
                                <li>Laatst Gewassen: {{ bag.last_washing_cycle }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="column">
                    <div class="notification is-warning">
                        Geen beschikbare slaapzakken op deze locatie.
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
