.navbar
 {
    background-color: #d6d6d6;
}

.navbar-item{
    color: black;
}
.navbar-item:hover{
    background-color: #363636;
    color:white;
}
h1, h2, h3 {
    color: rgb(73, 73, 73);
    font-size: 2em; 
    margin-bottom: 20px; 
}

body {
    height: 100vh;
    background-color: #5b5b5b;
    font-family: 'Arial', sans-serif;
    width: 100%;
    max-width: 100%;  /* Ensures that the html and body tags do not extend beyond viewport */
    overflow-x: hidden;  /* Prevents horizontal scrolling at the root level */
}

/* Note styling */
.notes ul li {
    color: inherit;  /* Ensure note text color inherits from the parent */
}

/* Inactive participant list styling */
.inactive-list li {
    color: #999; /* Less prominent color for inactive participants */
}

/* General link styling */
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


header{
    background-color: #ffffff;
}
.columns {
    margin: 20px;
    display: flex; 
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: center;  /* Centers columns for better alignment and to avoid overflow */
    width: calc(100% - 40px);  /* Adjusts width taking margin into account */
}

.column {
    flex: 1;  /* this allow each column to grow and fill the space evenly */
    padding: 10px;
    box-sizing: border-box;  /* Includes padding and border in the element's total width */
}


.card {
    background-color: #252121;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.card-header {
    background-color: #4a4a4a; /* Darker header for contrast */
    color: #000000;
    padding: 10px; 
}

.card-header-title {
    font-size: 1.2em; /* Larger font for headers */
    margin: 0;
}

.card-content {
    padding: 20px;
    overflow-y: auto;
    max-height: 300px;  /* Optionally set a max height for cards */

}

ul {
    padding-left: 20px; 
    list-style-type: none; 
}

li {
    padding: 5px 0;
    border-bottom: 1px solid #444; 
    margin-bottom: 5px; 
}

.status-unassigned {
    color: #00d1b2; 
    font-weight: bold;
}


.participants-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}



.participant-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 300px; 
    color: inherit; 
}

.return-button {
    display: block; 
    width: auto;    
    margin: 20px auto;  
    padding: 10px 20px; 
    background-color: #4a4a4a;  
    color: white;   
    text-align: center;     
    border-radius: 5px; 
    text-decoration: none;  
    font-weight: bold; 
}

.return-button:hover {
    background-color: #363636; 
}

