<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    {% include "Notes/header.html" %}
    <section class="section">
        <div class="container">
            <h1 class="title">Notes</h1>
            <h2 class="subtitle">Add a New Note</h2>
            <form method="post" action="{% url 'notes:add' %}">
                {% csrf_token %}
                {{form}}
                <div class="control">
                    <button class="button is-link" type="submit">Submit</button>
                </div>
                <!-- terug naar deelnemers knop -->
                
            </form>
            <div class="section">
                <div class="container">
                    <a href="{% url 'landing_page' %}" class="return-button">Terug naar alle deelnemers</a>
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

            {% load tz %}
            {% get_current_timezone as TIME_ZONE %}
            {% now "Y-m-d" as today_date %}
            
            <h2 class="subtitle">Notities vandaag gemaakt:</h2>
            
            <div class="content notes">
                <ul>
                    {% for note in new_notes %}
                        {% if note.date|date:"Y-m-d" == today_date %}
                            <li class="note-item">
                                <div class="note-content">{{ note.note }}</div>
                                <div class="note-meta">
                                    <span>Betreft: <strong>{{ note.participant.first_name }}</strong></span>
                                    <span>Geschreven door: <strong>{{ note.employee }}</strong></span>
                                    <span>Gemaakt op: <strong>{{ note.date|date:"F d, Y" }}</strong></span>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            
            <h2 class="subtitle">Eerder gemaakte notities:</h2>
            <div class="content notes">
                <ul>
                    {% for note in new_notes %}
                        {% if note.date|date:"Y-m-d" != today_date %}
                            <li class="note-item">
                                <div class="note-content">{{ note.note }}</div>
                                <div class="note-meta">
                                    <span>Betreft: <strong>{{ note.participant.first_name }}</strong></span>
                                    <span>Geschreven door: <strong>{{ note.employee }}</strong></span>
                                    <span>Gemaakt op: <strong>{{ note.date|date:"F d, Y" }}</strong></span>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
    
    </section>
</body>
</html>
