<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    {}
</head>
<body>
    {% include "Notes/header.html" %}
    <h1>Notes</h1>
    <h2>Add a New Note</h2>
    <form method="post" action="/note/">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Submit">
    </form>

    <h2>Existing Notes are:</h2>
    {% for note in new_notes %}
    <li>{{note}} by {{note.employee}}</li>
    
    {%endfor%}

</body>
</html>
