{% extends 'Notes/base.html' %}
{% load static %}

{% block head %}
<title>Uw Dashboard</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block body %}
{% include "Notes/header.html" %}
<section class="section">
    <div class="container">
        <h1 class="title">Welkom, {{ employee.user.first_name }}!</h1>
        <p class="subtitle">Hier zijn de deelnemers bij uw locatie: {{ employee.location.name }}</p>
        
        <!-- Button to add participant -->
        {% if employee.can_manage_participants %}
        <div>
            <a href="{% url 'participants:add_participant' %}" class="button is-primary">Deelnemer Toevoegen</a>
        </div>
        {% endif %}

        <pre>
        {% for bag in unwashed_bags %}
                {{ bag.id }} - {{ bag.linked_participant }}
        {% endfor %}
        </pre>
            

        <!-- Sleeping Bags to Wash -->
        <h2 class="subtitle" style="margin-top: 40px;"><span class="icon"><i class="fas fa-washing-machine"></i></span> Slaapzakken die gewassen moeten worden:</h2>
        <p>Hieronder ziet u een lijst van slaapzakken die gewassen moeten worden. Klik op "Markeer als gewassen" nadat u een slaapzak heeft gewassen.</p>
        <ul>
            {% for bag in unwashed_bags %}
            <li>
                <span style="font-weight: bold;">Slaapzak ID:</span> {{ bag.id }} 
                <p>Deelnemer: 
                    {% if bag.linked_participant %}
                        {{ bag.linked_participant.full_name }}
                    {% else %}
                        Geen deelnemer
                    {% endif %}
                    - Status: 
                    {% if bag.status == 'Good' %}
                        <span class="icon has-text-danger"><i class="fas fa-exclamation-triangle"></i></span>
                    {% elif bag.status == 'Damaged' %}
                        <span class="icon has-text-warning"><i class="fas fa-exclamation-circle"></i></span>
                    {% else %}
                        <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                    {% endif %}
                </p>
                <a href="{% url 'bags:wash_now' bag.id %}" class="button is-medium is-primary" onclick="return confirm('Weet u zeker dat u de slaapzak wilt wassen?');">Wassen</a>
            </li>
            {% endfor %}
        </ul>


        <!-- Active Participants -->
        <div class="participants-grid">
            {% for data in participant_data %}
                {% if data.participant.is_active %}
                    <div class="participant-card"> 
                        <a href="{% url 'participants:participant_details' data.participant.id %}">
                            <h3>{{ data.participant.full_name }} - <span style="color:green;">Actief</span></h3>
                            <ul>
                                {% for bag in data.sleeping_bags %}
                                    <li>Slaapzak Status: {{ bag.status }}, Laatst gewassen: {{ bag.last_washing_cycle|date:"Y-m-d" }}</li>
                                {% empty %}
                                    <li>Geen slaapzakken gevonden voor deze deelnemer.</li>
                                {% endfor %}
                            </ul>
                        </a>
                        {% if employee.can_manage_participants %}
                            <a href="{% url 'participants:remove_participant' participant_id=data.participant.id %}"
                                class="button is-danger"
                                onclick="return confirm('Weet u zeker dat u deze deelnemer wilt verwijderen?') && confirm('Deze actie kan niet ongedaan worden gemaakt. Wilt u doorgaan?');">
                                Verwijder Deelnemer
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- Inactive Participants -->
        <h2 class="subtitle" style="margin-top: 40px;">Inactieve Deelnemers:</h2>
        <ul class="inactive-list">
            {% for data in participant_data %}
                {% if not data.participant.is_active %}
                    <li>
                        {{ data.participant.full_name }} - <span style="color:gray;">Inactief</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}