{% extends 'Notes/base.html' %}
{% load static %}

{% block head %}
<title>Uw Dashboard</title>

{% endblock %}

{% block body %}
{% include "Notes/header.html" %}
<section class="section">
    <div class="container">
        <h1 class="title">Welkom, {{ employee.user.first_name }}!</h1>
        <p class="subtitle">Hier zijn de deelnemers bij uw locatie: {{ employee.location.name }}</p>
        
        <!-- Button to add participant -->
        {% if employee.can_manage_participants %}
        <div>
            <a href="{% url 'participants:add_participant' %}" class="button is-primary">Deelnemer Toevoegen</a>
        </div>
        {% endif %}
        
        <div class="participants-grid">
            {% for data in participant_data %}
                <div class="participant-card {% if not data.participant.is_active %}inactive{% endif %}">  
                    <a href="{% url 'participants:participant_details' data.participant.id %}">
                    <h3>{{ data.participant.full_name }} - Geboren op: {{ data.participant.date_of_birth|date:"Y-m-d" }}</h3>
                    <ul>
                        {% for bag in data.sleeping_bags %}
                        <li>Slaapzak Status: {{ bag.status }}, Laatst gewassen: {{ bag.last_washing_cycle|date:"Y-m-d" }}</li>
                        {% empty %}
                        <li>Geen slaapzakken gevonden voor deze deelnemer.</li>
                        {% endfor %}
                    </ul>
                </a>
                
                <!-- Button to remove participant -->
                {% if employee.can_manage_participants %}
                <a href="{% url 'participants:remove_participant' participant_id=data.participant.id %}"
                    class="button is-danger"
                    onclick="return confirm('Weet u zeker dat u deze deelnemer wilt verwijderen?') && confirm('Deze actie kan niet ongedaan worden gemaakt. Wilt u doorgaan?');">
                    Verwijder Deelnemer
                </a>
            {% endif %}   
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
