{% extends 'Notes/base.html' %}
{% load static %}
{% block body %}
{% include "Notes/header.html" %}

<div class="columns">
    <!-- Cliënt Contact Info -->
    <div class="column is-one-third">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Cliënt: {{ participant.full_name }}
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <strong>Locatie::</strong> {{ participant.registered_location.name }}<br>
                    <strong>Geboortedatum:</strong> {{ participant.date_of_birth|date:"Y-m-d" }}
                </div>
            </div>
        </div>
    </div>

    <!-- Status vd Slaapzakken -->
    <div class="column">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Slaapzakken
                </p>
            </header>
            <div class="card-content">
                <ul>
                    {% for bag in sleeping_bags %}
                    <form method="POST" action="{% url 'update_bag' bag.id %}">
                        {% csrf_token %}
                        <li>
                            <strong>Slaapzak nummer:</strong> {{ bag.id }},
                            <strong>Status:</strong>
                            <select name="status">
                                {% for choice in status_choices %}
                                <option value="{{ choice.0 }}" {% if bag.status == choice.0 %} selected {% endif %}>{{ choice.1 }}</option>
                            {% endfor %}
                            </select>
                            <button type="submit">Save</button>
                            </form>
                            
                            <strong>Laatst Gewassen:</strong>
                            <span>{{ bag.last_washing_cycle }}</span>
                            <button type="button" class="btn btn-primary wash-now-button" data-bag-id="{{ bag.id }}">Was nu</button>,

                            <strong>Gewassen:</strong>
                            <select name="is_washed">
                                <option value="true" {% if bag.is_washed %}selected{% endif %}>✔ Gewassen</option>
                                <option value="false" {% if not bag.is_washed %}selected{% endif %}>✘ Moet gewassen worden</option>
                            </select>,

                            <strong>Locatie:</strong>
                            <select name="is_in_facility">
                                <option value="true" {% if bag.is_in_facility %}selected{% endif %}>Op locatie</option>
                                <option value="false" {% if not bag.is_in_facility %}selected{% endif %}>Met de gebruiker</option>
                            </select>
                            
                            <!-- Report Lost Button -->
                            <a href="javascript:void(0);" class="btn btn-danger report-lost-button" data-bag-id="{{ bag.id }}">Verloren melden</a>
                        </li>
                    </form>
                    {% empty %}
                    <li>Geen slaapzakken gevonden.</li>
                    {% endfor %}
                </ul>
                <!-- Swap Button -->
                <a href="javascript:void(0);" class="btn btn-primary swap-button" data-participant-id="{{ participant.id }}">Slaapzakken omruilen</a>
            </div>
        </div>
    </div>
<!-- Notities -->
<div class="column is-full">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Notities
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <form method="post" action="{% url 'participant_detail' participant.id %}">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Note</label>
                        <div class="control">
                            <textarea name="note" rows="4" class="textarea">{{ form.note.value }}</textarea>
                        </div>
                    </div>
                    <div class="field">
                        {{ form.participant.as_hidden }}  <!-- Hide the participant field -->
                    </div>
                    <div class="control">
                        <button class="button is-link" type="submit">Submit</button>
                    </div>
                </form>

                <h2 class="subtitle">Existing Notes are:</h2>
                <div class="content">
                    <ul>
                        {% for note in new_notes %}
                            <li>{{ note.note }} by: {{ note.employee }} - gemaakt op {{ note.date|date:"F d, Y" }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- terug naar deelnemers knop -->
<div class="section">
    <div class="container">
        <a href="{% url 'landing_page' %}" class="return-button">Terug naar alle deelnemers</a>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function() {
    $('.swap-button').click(function() {
        var participantId = $(this).data('participant-id');
        var ajaxUrl = `{% url 'swap_bag' 0 %}`.replace('0', participantId);

        $.ajax({
            url: ajaxUrl,
            type: 'GET',
            dataType: 'json',
            success: function(response) {
                if (response.success) {
                    alert('Ruilen Succesvol!: ' + response.message);
                } else {
                    alert('Ruilen mislukt: ' + response.message);
                }
            },
            error: function(xhr, status, error) {
                alert('Technical error: ' + error);
            }
        });
    });

    $('.report-lost-button').click(function() {
        var bagId = $(this).data('bag-id');
        var ajaxUrl = `{% url 'report_lost_bag' 0 %}`.replace('0', bagId);

        $.ajax({
            url: ajaxUrl,
            type: 'GET',
            dataType: 'json',
            success: function(response) {
                if (response.success) {
                    alert('Melding Succesvol!: ' + response.message);
                    location.reload(); // Refresh the page to reflect changes
                } else {
                    alert('Melding mislukt: ' + response.message);
                }
            },
            error: function(xhr, status, error) {
                alert('Technical error: ' + error);
            }
        });
    });

    // Wash now button
    $('.wash-now-button').click(function() {
        var bagId = $(this).data('bag-id');
        var ajaxUrl = `{% url 'wash_now' 0 %}`.replace('0', bagId);

        $.ajax({
            url: ajaxUrl,
            type: 'POST',
            dataType: 'json',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.success) {
                    alert('Wassen Succesvol!: ' + response.message);
                    location.reload(); // Refresh the page to reflect changes
                } else {
                    alert('Wassen mislukt: ' + response.message);
                }
            },
            error: function(xhr, status, error) {
                alert('Technical error: ' + error);
            }
        });
    });
});
</script>
{% endblock %}

<!-- 
$('.return-dirty-button').click(function() {
    var participantId = $(this).data('participant-id');
    var ajaxUrl = `{% url 'return_dirty_bag' 0 %}`.replace('0', participantId);

    $.ajax({
        url: ajaxUrl,
        type: 'GET',
        dataType: 'json',
        success: function(response) {
            if (response.success) {
                alert('Terugbrengen Succesvol!: ' + response.message);
            } else {
                alert('Terugbrengen mislukt: ' + response.message);
            }
        },
        error: function(xhr, status, error) {
            alert('Technical error: ' + error);
        }
    });
}); -->
